body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard {
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.card:last-child {
    margin-right: 0;
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card p {
    font-size: 2em;
    margin: 10px 0 0;
    color: #007bff;
}

.graphs {
    display: flex;
    justify-content: space-between;
}

canvas {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 45%;
}

/* Set the size of the pie chart directly */
#pieChart {
    width: 200px; /* Adjust width */
    height: 200px; /* Adjust height */
}
#barChart{
    width: 200px; /* Adjust width */
    height: 200px;
}